*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(0, 9, 58);
    font-family: 'Courier New', Courier, monospace;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
} 
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    
}
.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    
}

.nav-links li{
    list-style: none;
}

/* End Of Navigation Css*/

body {
	background-color: #f8fafc;
}

.container {
	padding: 0;
}

.slider-wrapper {
	position: relative;
	max-width: fit-content;
	max-height: fit-content;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0%;
	-ms-overflow-style: none; 
	scrollbar-width: none; 
}


.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
	
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

/* End Of Slider Code*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0%;
}



.container1 {
	display: flex;
	justify-content: center;
	flex-wrap:wrap ;
}

.card {
	background: white;
	width: 220px;
	margin: 10px;
	border-radius: 15px 15px 0 0;
}

.card-image {
	background-color: gray;
	height: 150px;
	margin-top: 15px;
	background-size: cover;

}
.depressed-1 {
	background-image: url('https://media.istockphoto.com/id/1308753258/photo/loneliness-teenage-girls.jpg?s=170667a&w=0&k=20&c=qL9Cz6Spj782Fg2dxBsNDxBhe0MjC2l3pRCAIgdTPYs=');
}

.depressed-2 {
	background-image: url('https://thumbs.dreamstime.com/b/side-view-portrait-sad-depressed-black-man-sitting-bench-park-sad-depressed-black-man-bench-park-177762638.jpg')
}
.depressed-3 {
	background-image: url('https://freerangestock.com/sample/140884/depressed-man--adult-depression.jpg');
}

.card h2 {
	padding: 10px;
}

.card p {
	padding: 10px;
}

.card a {
	background-color: black;
	color: white;
	padding: 15px 20px;
	display: block;
	text-align: center;
	margin: 20px 50px;

}
.card:hover {
	background-color: rgb(62, 62, 62);
	color: white;
	cursor: pointer;
}
